<!doctype html>
{% extends "travel_planner/base.html" %}
{#{% load my_extras %}#}

{% block body_block %}

    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to Homepage!</h1>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dignissim mauris non cursus imperdiet. Nam feugiat rhoncus massa, in tincidunt mauris tempus id. Ut vel mi sapien. Suspendisse dapibus, risus vitae feugiat bibendum, mauris velit ornare mi, molestie pharetra dui enim sit amet lectus. Suspendisse potenti. Mauris dictum tincidunt accumsan. Nunc sed nisl et tortor egestas ultricies. In posuere ante volutpat, pulvinar ligula quis, viverra tellus. Vivamus sit amet quam non neque consectetur congue non sed velit. Donec faucibus, turpis ut consectetur pulvinar, ligula nisl ullamcorper sem, sit amet gravida metus felis at erat. Curabitur at porttitor velit, a condimentum lectus. Fusce pellentesque nulla ac ex aliquam dapibus. Phasellus mattis neque et consequat volutpat. Sed ut risus at mi rhoncus rhoncus. Vestibulum mollis bibendum odio. Vivamus pulvinar et neque eget aliquam.</p>
            <p>Nulla porttitor lacinia faucibus. Aliquam tortor quam, venenatis vel rutrum eu, tristique quis ipsum. Nullam non nibh leo. Mauris nec mauris nec libero mattis euismod vel sit amet lacus. Curabitur varius finibus velit, quis ultricies nunc vehicula semper. Donec commodo malesuada mi a euismod. Etiam bibendum lectus a mi venenatis fringilla. Nullam gravida iaculis pulvinar. </p>
        </div>
    </div>

{% endblock %}